
.table-scroll {
    height: 250px;
    overflow: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
}

text {
    fill: rgb(255,255,255);
    fill-opacity: 0.4;
    shape-rendering: crispEdges;
}

.nv-area {
    fill-opacity: 0.3;
}

.column-first {
    flex-direction: column;
    align-items: flex-start;
}

.change-filter {
    display: flex;
    width: 100%;
    flex: 1 1;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.change-filter > button {
    color: rgba(255,255,255,0.75);
    background: none;
    border-bottom: 2px solid transparent;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: 20px;
    font-family: Circular, Helvetica Neue, Helvetica, sans-serif;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

.change-filter > button:focus {
    outline: none;
}

.change-filter > button:hover,
.change-filter > button.active {
    color: #fff;
    border-bottom: 2px solid white;
}

.table-head-item:first-child .table-item-content {
    margin-left: 5px;
}

