<div class="body">
  <app-nav></app-nav>

  <div class="dashboard-wrap">
    <div class="main-wrap">
      <div class="dashboard-panel full">
        <section class="dashboard center">
          <div class="dashboard-panel">
            <div class="dash-panel-inner narrow">
              <div class="summary-panel">
                <div class="panel-header column-first">
                  <span class="header-left"><i class="fa fa-chart-bar header-icon"></i>Trade Volume</span>
                </div>
                <nvd3 #nvd31 [options]="options" [data]="data"></nvd3>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="dashboard-panel full ">
        <div class="dash-panel-inner narrow">
          <div class="summary-panel">
            <div class="panel-header column-first">
              <span class="header-left"><i class="fa fa-university header-icon"></i>Trades</span>
              <div class="change-filter">
                <button *ngFor="let inst of instruments" (click)="filterData(inst)"
                        [ngClass]="{'active': filter === inst}">{{ inst }}</button>
              </div>
            </div>
            <div class="table">
              <div class="table-head">
                <div class="table-head-item" *ngFor="let col of tableCols">
                  <div class="table-item-content">
                    {{col }}
                  </div>
                </div>
              </div>
              <div class="table-body table-scroll">
                <div class="table-row" *ngFor="let deal of tableData">
                  <div class="table-row-item short">
                    <div class="table-item-content">
                      {{ deal.deal_id }}
                    </div>
                  </div>
                  <div class="table-row-item">
                    <div class="table-item-content" >
                      {{ deal.deal_amount }}
                    </div>
                  </div>
                  <div class="table-row-item">
                    <div class="table-item-content">
                      {{ deal.deal_quantity }}
                    </div>
                  </div>
                  <div class="table-row-item">
                    <div class="table-item-content">
                      {{ (deal.deal_time * 1000) | date: 'yyyy-MM-dd  hh:mm' }}
                    </div>
                  </div>
                  <div class="table-row-item">
                    <div class="table-item-content" [ngClass]="{'green': deal.deal_type === 'B', 'red': deal.deal_type === 'S'}">
                      {{ deal.deal_type }}
                    </div>
                  </div>
                  <div class="table-row-item">
                    <div class="table-item-content">
                      {{ deal.instrument }}
                    </div>
                  </div>
                  <div class="table-row-item">
                    <div class="table-item-content">
                      {{ deal.counterparty.counterparty_name }}
                    </div>
                  </div>
                  <div class="table-row-item">
                    <div class="table-item-content">
                      {{ deal.counterparty.counterparty_status }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

      <div class="dashboard-panel full">
        <section class="dashboard center">
          <div class="dashboard-panel">
            <div class="dash-panel-inner narrow">
              <div class="summary-panel">
                <div class="panel-header column-first">
                  <span class="header-left"><i class="fa fa-chart-line header-icon"></i>Instrument Pricing</span>
                </div>
                <nvd3 #nvd33 [options]="line_options" [data]="line_data"></nvd3>
              </div>
            </div>
          </div>
        </section>
      </div>
    
  </div>
</div>