.navbar, app-nav {
    min-height: 52px;
    height: 52px;
    width: 100%;
    margin: 0 0;
    z-index: 100;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    background: #071826;
}

.navbar :first-child {
    
}

.third-box {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.navbar .third-box:first-child {
    justify-content: flex-start;
}

.nav-text {
    font-family: Circular, Helvetica, sans-serif;
    text-rendering: geometricPrecision;
    display: flex;
    align-items: center;
    padding: 0px 7px;
}

.nav-link {
    display: flex;
    justify-content: center;
    margin: 0px 5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.nav-link.active {
    background: rgba(255, 255, 255, 0.1);
}

.nav-link.active>.nav-icon {
    color: rgba(255, 255, 255, 0.9) !important;
}

.nav-icon {
    vertical-align: middle;
    min-width: 24px;
    min-height: 24px;
    box-sizing: content-box;
    padding: 10px;
    color: rgba(255, 255, 255, 0.3);
    -webkit-transition: 300ms;
    transition: 300ms;
    cursor: pointer;
}

.nav-icon:hover {
    color: rgba(255, 255, 255, 0.9);
}

.db-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.logo-text {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 5px;
}

.db-logo-img {
    max-height: 45px;
    height: 45px;
    height: 100%;   
}