<div class="navbar">
  <div class="third-box">
    <div class="db-logo">
      <img src="../../assets/db_white.png" alt="" class="db-logo-img">
      <span class="logo-text"></span>
    </div>
  </div>
  <div class="third-box">

    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
      <div class="nav-text">Dashboard</div>
    </a>
    <a routerLink="/register" routerLinkActive="active" class="nav-link">
      <div class="nav-text">Register</div>
    </a>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">
      <div class="nav-text">Login</div>
    </a>
  </div>
  <div class="third-box"></div>

</div>