<div class="body">
    <app-nav></app-nav>

    <div class="dashboard-wrap">
        <div class="dashboard-inner">
            <div class="main-wrap">
                <section class="dashboard center">
                    <div class="dashboard-panel short space-top">
                        <div class="dash-panel-inner shadowed">
                            <div class="summary-panel">
                                <div class="panel-header-logo">
                                    <img src="../../assets/zglogo_blue.png" alt="logo">
                                </div>
                                <div class="panel-header">Login</div>

                                <form class="form" [formGroup]="loginForm">
                                    <div class="input-row">
                                            <input placeholder="User ID" type="text" formControlName="name">
                                    </div>
                                    <div class="input-row">
                                        <input type="password" placeholder="Password" formControlName="password">
                                    </div>
                                    <div class="input-row">
                                        <button class="btn-submit" (click)="submitLoginForm()">Login</button>
                                    </div>
                                </form>

                                <div class="signup">
                                    Need an account? <a routerLink="/register">Sign-up here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>